@charset "utf-8";

body{
    counter-reset: my-counter;
}

#div{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
}

#h{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
}

h2{
    counter-reset: sub-counter;
}

h2::before {
    counter-increment: my-counter;
    content: "Section " counter(my-counter) ": "; 
}

h3::before{
    counter-increment: sub-counter;
    content: counter(my-counter) "." counter(sub-counter) " ";
}

.html{
    cursor: no-drop;
}

.css{
    cursor: wait;
}

.js{
    cursor: help;
}