@charset "utf-8";

.title{
    text-align: center;
    color: gold;
    font-size: 3em;
    font-weight: 1000;
}

p{
    margin: 5% auto;
}

p bdo{
    color: brown;
    font-size: 2em;
    font-weight: 700;
}

button{
    border-color: blanchedalmond;
    color: chartreuse;
    background-color: chocolate;
    cursor: pointer;
    font-size: 2em;
}

.butt{
    text-align: center;
}

caption{
    margin-bottom: 3%;
    font-size: 1.5em;
    color: darkorange;
}

table, th, td{
    border: 1px solid black;
    text-align: center;
    width: 40%;
    margin: 5% auto;
}

