@charset "utf-8";

#div{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
}

#h{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
}