@charset "utf-8";

body {
    background-image: url(../image/atomic-structure/diasi.png);
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-color: aquamarine;
    background-blend-mode: lighten;
    background-position: center;
    background-size: 40%;
}

.unsplash{
    text-align: center; 
}

.unsplash img{
    width: 30%; 
}

.unsplash h6{
    margin: auto;
    border: 10px dotted white;
    background-clip: border-box;
}