@charset "utf-8";

.title{
    text-align: center;
    font-size: 4em;
    font-weight: 1000;
    color: green;
    background-color: red;
    quotes: "<" ">";
}

.ex1{
    perspective: 1000px;
    perspective-origin: 60%;
}

.cube{
    font-size: 4em;
    width: 2em;
    margin: 3em auto;
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(20deg);
}

.side{
    position: absolute;
    width: 2em;
    height: 2em;
    background: rgba(76, 222, 76, 0.904);
    border: 1px solid red;
    text-align: center;
    line-height: 2em;
}

.front{
    transform: translateZ(1em);
}

.back{
    transform: translateZ(-1em);
}

.top{
    transform: rotateX(90deg) translateZ(1em);
}

.bottom{
    transform: rotateX(-90deg) translateZ(1em);
}

.right{
    transform: rotateY(90deg) translateZ(1em);
}

.left{
    transform: rotateY(-90deg) translateZ(1em);
}

.transform{
    position: relative;
    top: 300px;
}

.title2{
    text-align: center;
    font-size: 4em;
    font-weight: 1000;
    color: yellow;
    background-color: blue;
    quotes: "<" ">";
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rotate{
    width: 150px;
    height: 80px;
    background-color: yellowgreen;
    transform: rotate(30deg);  
}

.skew{
    width: 150px;
    height: 80px;
    background-color: yellowgreen;
    transform: skewX(30deg);  
}

.scale{
    width: 150px;
    height: 80px;
    background-color: yellowgreen;
    transform: scaleX(2);
    
}

