@charset "utf-8";

fieldset{
    border: 15px groove brown;
    text-align: center;
    width: 30%;
    margin: 3% auto;
}

legend{
    background-color: gold;
    color: whitesmoke;
    font-size: 1.5em;
}

table, td{
    border: solid 1px black;
    width: 30%;
    text-align: center;
    margin: 3% auto;
}

footer{
    margin-top: 5%;
}

address{
    text-align: center;
    color: dimgray;
}

form{
    text-align: center;
    border: solid 1px silver;
    margin: 1% auto;
}

.audio{
   text-align: center;
}

.audio h6{
    margin: auto;
}

.title{
    text-align: center;
    color: chocolate;
    font-size: 3em;
    font-weight: 1000;
    border: 5px solid salmon;
    border-bottom-color: darkcyan;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-style: double;
    border-left-color: bisque;
    border-left-style: groove;
    border-right-color: darkorange;
    border-right-style: dotted;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 10px aqua;
    outline: 4px dashed rosybrown;
    outline-offset: 0.2px;
    text-shadow: 2px 2px crimson;
}

.spec{
    color: crimson;
    font-size: 2em;
    font-weight: 700;
    float: left;
}

.spec a{
    color: crimson;
}

.life{  
    color: royalblue;
    font-size: 2em;
    font-weight: 700;
    float: right;
}

.life a{
    color: royalblue;
}

.counter{
    float: left;
    clear: left;
    font-size: 2em;
    font-weight: 700;
    margin-top: 1em;
}

.flex{
    float: right;
    clear: right;
    font-size: 2em;
    font-weight: 700;
    margin-top: 1em;
}

.grid{
    float: left;
    clear: left;
    font-size: 2em;
    font-weight: 700;
    margin-top: 1em;
}

.media{
    float: right;
    clear: right;
    font-size: 2em;
    font-weight: 700;
    margin-top: 1em;
}

.perspective{
    float: left;
    clear: left;
    font-size: 2em;
    font-weight: 700;
    margin-top: 1em;
}

.unsplash{
    text-align: center;
}

.unsplash img{
    width: 30%;  
}

.unsplash h6{
    margin: auto;
}

.js{
    font-size: 3em;
    font-weight: 1000;
    text-align: center;
    margin-top: 50px;
    border: 5px solid silver;
    text-shadow: 2px 2px brown;
}

.caret{
    caret-color: rgb(202, 234, 150);
}

.green{
    border-collapse: separate;
    border-spacing: 10px;
    background-color: yellowgreen;
    caption-side: bottom;
}

.caption{
    color: green;
}

.myself{
    border: solid 5px;
    border-image: url(../image/fruits/becky-mattson-mango2.jpg) 10% round;
}

#disqus_thread{
    margin-top: 5%;
}
